
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/quill/dist/quill.snow.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer{
    flex:1 1 auto;
}
.mat-mdc-form-field{
    margin-top: 10px;
    font-size: 1rem;
    width: 100%;
}
.sidenav-container {
    height: 91vh; 
  }
  /* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
    button,
    input {
        /* CSS to Reset */
    }
}
.stepper-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .stepper-row > div {
    flex: 1 1 100%;
    margin-right: 20px;
  }
  
  .stepper-row > div:last-child {
    margin-right: 0;
  }
  
  .col-12 {
    width: 100%;
  }
  
  .col-6 {
    width: 50%;
  }
  